* {
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Baloo Bhai 2', cursive;
  color: #666;
}

.pimage1,
.pimage2,
.pimage3,
.pimage4 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimage1 {
  background-image: url(image1.jpg);
  min-height: 100%;
}

.pimage2 {
  background-image: url(image2.jpg);
  min-height: 400px;
}

.pimage3 {
  background-image: url(image3.jpg);
  min-height: 400px;
}

.pimage4 {
  background-image: url(image4.jpg);
  min-height: 400px;
}

.imagetext1 {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 30px;
  letter-spacing: 3px;
}

@media screen and (max-width: 480px) {
  .imagetext1 {
    font-size: inherit;
  }

  .imagetext2 {
    font-size: inherit !important;
  }
}

@media screen and (max-width: 768px) {
  
}

.text1 {
  background-color: #313534;
  color: white;
  padding: 20px;
  border-radius: 20px;
}

.imagetext2 {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 30px;
  letter-spacing: 3px;
}

.text2 {
  background-color: #313534;
  color: white;
  padding: 20px;
  border-radius: 20px;
}

.imagetext3 {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 30px;
  letter-spacing: 3px;
}

.text3 {
  background-color: #313534;
  color: white;
  padding: 20px;
  border-radius: 20px;
}

.imagetext4 {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 30px;
  letter-spacing: 3px;
}

.text4 {
  background-color: #313534;
  color: white;
  padding: 20px;
  border-radius: 20px;
}

.section1 {
  text-align: center;
  padding: 60px 20px;
  background-color: #032c57d6;
  color: white;
}

p {
  padding: 10px;
}

.section2 {
  text-align: center;
}

.section3 {
  text-align: center;
}

.section4 {
  text-align: center;
}

.section1 h3,
.section2 h3,
.section3 h3,
.section4 h3 {
  color: white;
  font-size: 30px;

}

.section2 {
  text-align: center;
  padding: 60px 20px;
  background-color: #024f3b;
  ;
  color: white;
}

.section3 {
  text-align: center;
  padding: 60px 20px;
  background-color: #0a4e59;
  color: white;
}

.section4 {
  text-align: center;
  padding: 60px 20px;
  background-color: #313534;
  color: white;
}